.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    
}

.card_container:hover {
    transform: scale(1.05);
     
  }

.card_container img {
    width: 110px;
    aspect-ratio: 5 / 7.2;
    border-radius: 8px;
    transition: transform 0.3s;
    cursor: pointer;
}

.locked {
    filter: grayscale(100%) ;
}